<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BSB Bretten</title>
    <link rel="stylesheet" href="layout.css"> <! -- Haupt css für das Layout -->
    <link rel="stylesheet" href="/BSB/Homepage/style.css"> 
<body>
    <header>
        <div class="logo">
            <img src="/BSB/Pictures/bsb_logo.png" alt="BSB Bretten Logo">
        </div>
        <nav>
            <ul>
                <li><a href="/BSB/Homepage/homepage.html">Startseite</a></li>
                <li><a href="/BSB/Subsites/platzhalter.html">Unsere Schule</a></li>
                <li><a href="/BSB/Subsites/platzhalter.html">Anmeldung</a></li>
                <li><a href="/BSB/Subsites/platzhalter.html">Über uns</a></li>
                <li><a href="/BSB/Subsites/platzhalter.html">Kontakt</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="content">
        </div>
    </main>

    <footer>
        <p>&copy; 2024 BSB Bretten. Alle Rechte vorbehalten.</p>
    </footer>
</body>
</html>
